{{#partial "content"}}
{{#if deleteTeam}}
<div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> the team with name <strong>{{deleteTeam.name}}</strong> was deleted.
</div>
{{/if}}


<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-11">
                <h3 class="panel-title">Teams</h3>
            </div>
            <div class="col-md-1">
                <p class="control-links" data-placement="top" data-toggle="tooltip" title="Add a new team"><a href="/team/new"class="btn btn-default btn-xs" data-title="Add a new team"><span class="glyphicon glyphicon-plus"></span></a></p>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Number of Members</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#if teams}}
            {{#each teams}}
            <tr>
                <th scope="row">1</th>
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td>{{numberOfMembers}}</td>
                <td>
                    <div class="row">
                        <div class="col-md-2">
                            <p data-placement="top" data-toggle="tooltip" title="View"><a href="/team/view/{{id}}" class="btn btn-warning btn-xs" data-title="View"><span class="glyphicon glyphicon-eye-open"></span></a></p>
                        </div>
                        <div class="col-md-2">
                            <p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/team/{{id}}/update" class="btn btn-primary btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></a></p>
                        </div>
                        <div class="col-md-2">
                            <p data-placement="top" data-toggle="tooltip" title="Delete"><a href="/team/{{id}}/delete" class="btn btn-danger btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></a></p>
                        </div>
                        <div class="col-md-2">
                            <p data-placement="top" data-toggle="tooltip" title="Add a Member"><a href="/member/{{id}}/new" class="btn btn-success btn-xs" data-title="Add a Breed"><span class="glyphicon glyphicon-plus"></span></a></p>
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
            {{/if}}
            </tbody>
        </table>
    </div>
</div>
{{/partial}}

{{> layout.hbs}}