{{#partial "content"}}

{{#if deleteMember}}
<div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> the member with name <strong>{{deleteMember.name}}</strong> was deleted.
</div>
{{/if}}


<p>Team details</p>

<p>Name: {{ team.name }}</p>
<p>Description:{{ team.description }}</p>
<p>This team is integrated by:</p>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>email</th>
        <th>education</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each team.members}}
    <tr>
        <th scope="row">1</th>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{education}}</td>
        <td><a href="/team/{{team.id}}/member/{{id}}/update">update</a> <a href="/team/{{team.id}}/member/{{id}}/delete">delete</a></td>
    </tr>
    {{/each}}
    </tbody>
</table>


{{/partial}}

{{> layout.hbs}}